body {
    /* background-size: 200% 100% !important; */
    /* animation: move 10s ease infinite; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* transform: translate3d(0, 0, 0); */
    /* background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%); */
    background-image: url('61802.jpg');
    height : 500px; 
    background-attachment: fixed;
}