.mini_doctor{
    box-shadow: 5px 10px teal;
    border: 1px solid black;
    margin: 20px;
    width: 500px;
    margin-left: 600px;
    border-radius: 15px;
}


*{
    font-family:"Roboto",times, Times New Roman, times-roman, georgia, serif;
 
 font-size: 15px;
        font-weight: bold;
 /* text-transform:uppercase; */
 letter-spacing:2px; 
}
